################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PolAutoExport/bin/Debug
/PolAutoExport/obj/x86/Debug
/PolAutoPolicajac/obj/Debug
/PolovniAutomobiliDohvatanje/obj/Debug
/PolAutData/obj/Debug
/Test/obj/Debug
/Common/obj/Debug
/.vs
/Common/bin/Debug
/packages
/PolAutData/bin/Debug
/PolAutoExport/obj/Debug
/PolAutoPolicajac/bin/Debug
/PolovniAutomobiliDohvatanje/bin/Debug
/Procode.PolovniAutomobili.DataTests/bin/Debug
/Procode.PolovniAutomobili.DataTests/obj/Debug
/Procode.PlovniAutomobili.DohvatanjeTest/bin/Debug
/Procode.PlovniAutomobili.DohvatanjeTest/obj/Debug
/Procode.PolovniAutomobili.DohvatanjeTest/bin/Debug
/Procode.PolovniAutomobili.DohvatanjeTest/obj/Debug
/Procode.PolovniAutomobili.CommonTests/bin/Debug
/Procode.PolovniAutomobili.CommonTests/obj/Debug
/TestResults
