################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/Common/bin
/Common/obj
/PolAutData/Databases
/PolAutData/bin
/PolAutData/obj
/PolAutoExport/bin
/PolAutoExport/obj
/PolAutoPolicajac/bin
/PolAutoPolicajac/obj
/PolovniAutomobiliDohvatanje/bin
/PolovniAutomobiliDohvatanje/obj
/Procode.PlovniAutomobili.DohvatanjeTest/bin
/Procode.PlovniAutomobili.DohvatanjeTest/obj
/Procode.PolovniAutomobili.CommonTests/bin
/Procode.PolovniAutomobili.CommonTests/obj
/Procode.PolovniAutomobili.DataTests/bin
/Procode.PolovniAutomobili.DataTests/obj
/Procode.PolovniAutomobili.DohvatanjeTest/bin
/Procode.PolovniAutomobili.DohvatanjeTest/obj
/Procode.PolovniAutomobili.DohvatanjeTestFromConsole/bin
/Test/obj
/TestResults
/packages
/Procode.PolovniAutomobili.DohvatanjeTestFromConsole/obj/Debug
