<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Common.Properties.Settings>
   <setting name="AdresaPocetneStrane" serializeAs="String">
    <value>http://www.polovniautomobili.com</value>
   </setting>
   <setting name="MaxVelicinaEventLoggera" serializeAs="String">
    <value>32766</value>
   </setting>
   <setting name="MaxBrojCitanjaStrane" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="PisiUDnevnik" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="VremeCekanjaNaPonovnoCitanjeStrane" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="NazivServisa" serializeAs="String">
    <value>PolovAutoSajt</value>
   </setting>
   <setting name="NazivServisaDuzi" serializeAs="String">
    <value>Polovni automobili dohvatanje</value>
   </setting>
   <setting name="ValicinaBaferaDnevnika" serializeAs="String">
    <value>100000</value>
   </setting>
  </Common.Properties.Settings>
	</applicationSettings>
	<startup/></configuration>
